version: 2
updates:
  - package-ecosystem: "pub"
    directory: "/hello_swift_slots"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/functions"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
