# APP
APP_NAME=micro-saas
NODE_ENV=development
APP_URL=http://localhost:3000

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# BILLING
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# EMAIL
RESEND_API_KEY=
EMAIL_FROM=

# ANALYTICS (optional)
POSTHOG_KEY=
SENTRY_DSN=
